.content {
  .content_1 {
    padding-top: 0.32rem;
    width: 24rem;
    background: #f6f6f6;
    padding-bottom: 0.48rem;
    .content_1_1 {
      width: 22.72rem;
      height: 8rem;
      margin: 0 auto;
      .content_1_1_1 {
        width: 22.72rem;
        height: 8rem;
      }
    }
    .content_1_2 {
      background: #fff;
      padding-bottom: 0.96rem;
      .content_1_2_1 {
        text-align: center;
        .content_1_2_1_1 {
          font-size: 0.768rem;
          font-family: PingFang SC;
          font-weight: 500;
          color: #1a1a1a;
        }
      }
    }
    .content_1_4 {
      margin-top: 0.448rem;
      background: #f6f6f6;
    }
  }
  .content_2 {
    text-align: center;
    background: #f6f6f6;
  }
}
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  .wrapper_1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 17.056rem;
    height: 20.448rem;
    .wrapper_1_1 {
      width: 17.056rem;
      height: 20.448rem;
    }
    .wrapper_1_2 {
      position: absolute;
      width: 2.08rem;
      height: 2.08rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: -2.88rem;
    }
    .wrapper_1_3 {
      width: 13.312rem;
      height: 2.56rem;
      background: #804c28;
      border-radius: 1.28rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.96rem;
      font-family: PingFang SC;
      font-weight: 500;
      color: #fefefe;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 1.6rem;
    }
  }
}
