.content {
  background: #f6f6f6;
  padding-top: 0.256rem;
  width: 24rem;
  .content_1 {
    width: 24rem;
    background: #ffffff;
    padding: 0.64rem 1.6rem 1.088rem 0.96rem;
    margin-bottom: 0.448rem;
    box-sizing: border-box;
    .content_1_1 {
      font-size: 1.024rem;
      font-family: PingFang SC;
      font-weight: bold;
      color: #1a1a1a;
      line-height: 1.6rem;
      word-break: break-all;
      margin-bottom: 1.344rem;
    }
    .content_1_2 {
      font-size: 0.768rem;
      font-family: PingFang SC;
      font-weight: 500;
      color: #909090;
    }
  }
  .content_2 {
    width: 24rem;
    background: #ffffff;
    border-radius: 0.16rem;
    display: flex;
    align-items: center;
    padding: 0.96rem 0.96rem 1.024rem 0.96rem;
    box-sizing: border-box;
    .content_2_1 {
      width: 1.92rem;
      height: 1.92rem;
      border-radius: 0.96rem;
      margin-right: 0.48rem;
    }
    .content_2_2 {
      .content_2_2_1 {
        display: flex;
        align-items: flex-end;
        margin-bottom: 0.384rem;
        .content_2_2_1_1 {
          font-size: 0.896rem;
          font-family: PingFang SC;
          font-weight: 500;
          color: #303030;
          line-height: 1;
          margin-right: 0.384rem;
        }
        .content_2_2_1_2 {
          width: 0.032rem;
          height: 0.736rem;
          background: #9d9d9d;
          margin-right: 0.448rem;
        }
        .content_2_2_1_3 {
          font-size: 0.768rem;
          font-family: PingFang SC;
          font-weight: 500;
          color: #909090;
          line-height: 1;
        }
      }
      .content_2_2_2 {
        font-size: 0.768rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: #909090;
        line-height: 1;
      }
    }
  }
  .content_3 {
    margin-top: 0.64rem;
    width: 24rem;
    background: #ffffff;
    border-radius: 0.16rem;
    padding-bottom: 0.96rem;
    .content_3_1 {
      display: flex;
      align-items: center;
      padding-top: 0.96rem;
      margin-bottom: 0.96rem;
      padding-left: 0.96rem;
      .content_3_1_1 {
        width: 0.128rem;
        height: 0.8rem;
        background: #1f73f1;
        margin-right: 0.32rem;
      }
      .content_3_1_2 {
        font-size: 0.96rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: #303030;
        line-height: 1;
      }
    }
    .content_3_2 {
      font-size: 0.896rem;
      font-family: PingFang SC;
      font-weight: 500;
      color: #161616;
      line-height: 1.92rem;
      padding: 0 1.344rem;
    }
  }
  .content_4 {
    width: 24rem;
    background: #ffffff;
    border-radius: 0.16rem;
    margin-top: 0.384rem;
    height: 9.216rem;
    .content_4_1 {
      height: 2.816rem;
      padding: 0 0.96rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .content_4_1_1 {
        display: flex;
        align-items: center;
        .content_4_1_1_1 {
          width: 0.128rem;
          height: 0.8rem;
          background: #1f73f1;
          margin-right: 0.32rem;
        }
        .content_4_1_1_2 {
          font-size: 0.96rem;
          font-family: PingFang SC;
          font-weight: 500;
          color: #303030;
          line-height: 1;
        }
      }
      .content_4_1_2 {
        font-size: 0.704rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: #c2c2c2;
        line-height: 1;
      }
    }
    .content_4_2 {
      width: 22.72rem;
      height: 5.504rem;
      background: #e4eefd;
      border-radius: 0.16rem;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      .content_4_2_1 {
        width: 9.184rem;
        height: 1.92rem;
        background: #317af6;
        border-radius: 0.96rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.832rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: #ffffff;
      }
    }
  }
  .content_5 {
    margin-top: 0.384rem;
    width: 24rem;
    background: #ffffff;
    border-radius: 0.16rem;
    padding-bottom: 1.664rem;
    .content_5_1 {
      display: flex;
      align-items: center;
      padding-top: 0.96rem;
      margin-bottom: 0.96rem;
      padding-left: 0.96rem;
      .content_5_1_1 {
        width: 0.128rem;
        height: 0.8rem;
        background: #1f73f1;
        margin-right: 0.32rem;
      }
      .content_5_1_2 {
        font-size: 0.96rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: #303030;
        line-height: 1;
      }
    }
    .content_5_2 {
      width: 21.44rem;
      font-size: 0.896rem;
      font-family: PingFang SC;
      font-weight: 500;
      color: #151515;
      line-height: 1.6rem;
      word-break: break-all;
      margin: 0 auto;
    }
  }
}
