.page {
  height: calc(100vh - 4.096rem);
  overflow: scroll;
  background-color: #f8f8f8;
  padding: 0.48rem 0.64rem 0;
  box-sizing: border-box;
}

.card {
  box-shadow: 0px 0px 1.472rem 0px rgba(134, 134, 134, 0.11);
  border-radius: 0.32rem;
  background-color: white;
}

.info {
  height: 10.144rem;
  background-image: url('http://account.channel.bdhuoke.com/img/user_kapian@2x.png');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;

  .top {
    margin: 1.344rem 0 0 0.768rem;
    display: flex;

    .top-left {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      overflow: hidden;

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .top-right {
      flex: 1;
      margin-left: 1.312rem;

      .title {
        display: flex;
        margin-right: 0.64rem;
      }

      .username {
        font-size: 1.024rem;
      }

      .desc {
        margin-top: 0.86rem;
        font-size: 0.832rem;
      }

      .posi {
        margin-left: 0.64rem;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.768rem;
    padding: 0 0.8rem 0.608rem 1.056rem;
  }

  .btn {
    width: 4.32rem;
    height: 1.44rem;
    border-radius: 0.72rem;
    border: 1px solid white;
  }
}

.count-wrap {
  height: 5.344rem;
  margin-top: 0.96rem;
  text-align: center;
  padding-top: 1.12rem;

  .count {
    margin-bottom: 0.768rem;
    color: #2d80fd;
    font-size: 1.92rem;
  }

  .tip {
    font-size: 0.768rem;
    color: #1a1a1a;
  }
}

.menu {
  margin-top: 0.96rem;
  padding: 1.44rem 0;

  .menu-item {
    margin: 0 0.544rem 2.112rem 0.416rem;
    display: flex;
    align-items: center;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .icon {
    width: 1.184rem;
    height: 1.184rem;
  }

  .title {
    font-size: 0.832rem;
    color: #1a1a1a;
    margin-left: 0.512rem;
  }

  .arrow {
    width: 0.384rem;
    height: 0.64rem;
    margin-left: auto;
    background-image: url('http://account.channel.bdhuoke.com/img/user_tiaozhuan@2x.png');
  }
}
.showDialog {
  background: url('http://account.channel.bdhuoke.com/img/lianxikef@2x.png') no-repeat;
  background-size: 100%;
  position: absolute;
  width: 20.8rem;
  height: 22.4rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding-top: 3.2rem;
  .showDialog_1 {
    display: flex;
    width: 100%;
    padding-left: 1.088rem;
    font-size: 1.088rem;
    font-family: PingFang SC;
    font-weight: 500;
    align-items: flex-end;
    margin-top: 1.088rem;
    .showDialog_1_1 {
      line-height: 1;
      color: #212121;
    }
    .showDialog_1_2 {
      color: #005eff;
      line-height: 1;
    }
    .showDialog_1_3 {
      color: #679fff;
      font-size: 0.832rem;
    }
  }
  .showDialog_2 {
    display: block;
    margin: 0 auto;
    margin-top: 2.304rem;
    width: 6.784rem;
    height: 6.784rem;
  }
  .showDialog_3 {
    text-align: center;
    font-size: 0.96rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #939393;
    line-height: 1;
    margin-top: 1.024rem;
  }
}
