.content {
  .content_1 {
    display: block;
    width: 11.968rem;
    height: 8.32rem;
    margin: 0 auto;
    margin-top: 5.76rem;
  }
  .content_2 {
    text-align: center;
    font-size: 1.024rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #161616;
    margin-top: 0.64rem;
  }
  .content_3 {
    text-align: center;
    margin-top: 1.024rem;
    font-size: 0.96rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #161616;
    margin-bottom: 2.496rem;
  }
  .content_4 {
    margin-top: 1.216rem;
    font-size: 1.088rem;
    font-family: PingFang SC;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .content_4_1 {
      color: #212121;
      line-height: 1;
    }
    .content_4_2 {
      color: #679fff;
      line-height: 1;
    }
    .content_4_3 {
      color: #679fff;
      font-size: 0.832rem;
    }
  }
  .content_5 {
    margin: 0 auto;
    margin-top: 2.56rem;
    display: block;
    width: 6.784rem;
    height: 6.784rem;
    margin-bottom: 1.024rem;
  }
  .content_6 {
    font-size: 0.96rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #939393;
    text-align: center;
  }
}
