.content {
  .content_1 {
    width: 24rem;
    display: block;
    // height: 45.248rem;
  }
  .content_2 {
    width: 24rem;
    display: block;
    // height: 61.44rem;
  }
  .content_3 {
    width: 24rem;
    display: block;
    // height: 44.352rem;
  }
}
